// Global
$global_border_radius: 30px;
$zIndexForms: 99999;
$h1FontSize: 58px;
$h2FontSize: 36px;
$font-family: 'Kontora', 'Open Sans', 'Roboto', Arial, sans-serif;

// Sidebar vars
$sidebar_width: 172px;